body{
	padding: 0;
}
.container{
	background: #eee;
	padding: 0;
	min-width: 600px;
	overflow: hidden;
	border: 1px solid #999;
	margin: 20px;
}
.left, .right, .mid{
	margin: 20px;
	background: #fff;
	border: 1px solid #999;
	padding: 20px;
	box-sizing: border-box;
}
.left{
	width: 200px;
	float: left;
}
.left img{
	float: left;
}
.right{
	float: right;
	width: 120px;
}
.right p{
	text-align: center;
}
.mid{
	overflow: hidden;
}
div.img-wrapper{
	margin-bottom: 20px;
}
div.last{
	margin-bottom: 0;
}
p.info{
	margin: 0;
	margin-bottom: 12px;
	font-size: 0.8em;
	text-align: center;
}
img{
	height: 80px;
	width: 80px;
}