html,body{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: "Microsoft yahei";
}
body{
	padding:20px 200px;
	min-width: 960px;
}
h2{
	border-left: 6px solid tomato;
	padding: 10px;
	padding-bottom: 0;
}
code, pre{
	background:#ccf;
	padding:1px;
	margin:2px;
	font-family:"Courier New";
	overflow: scroll;
	font-size: 14px;
}
.container{
	height: 500px;
	position: relative;
	border: 2px solid tomato;
}
#view{
	width: calc(100% - 230px);
}
#view div{
	border: 1px solid;
	padding: 6px;
	margin: 6px;
	background: #fff;
	transition: background-color 0.4s 0.2s ease-in;
}
#view div.hilite{
	background: #aaf;
}
.control-panel{
	position: absolute;
	border: 1px solid;
	background: #faa;
	padding: 6px;
	border-radius: 6px;
	top: 0px;
	right: 0px;
}
input{
	width: 48px;
}
button{
	background: #fff;
	color:#323232;
	padding: 4px;
	border-radius: 4px;
	border:none;
	outline: none;
	cursor: pointer;
}

button:hover{
	background: #ddd;
}
button[disabled]{
	background: #eee;
	color: #bbb;
}
button[disabled]:hover{
	background: #eee;
}
small{
	margin: 6px;
	font-family: "kaiti";
}