@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1465986718_941032.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1465986718_941032.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1465986718_941032.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1465986718_941032.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1465986718_941032.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@keyframes loading{
	0% {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

.iconfont{
	font-family: 'iconfont';
	font-style: normal;
}

html, body{
	height: 100%;
	width: 100%;
	color: #323232;
}
a{
	text-decoration: none;
}
body{
	min-width: 1300px;
}
header{
	width: 100%;
	height: 35%;
	position: relative;
	background: rgb(60, 60, 70) url(../images/baidu.png);

}
header .intro{
	position: absolute;
	right: 200px;
	font-size: 24px;
	top: calc(50% - 15px);
	color: rgb(255, 255, 255);
}
ul.social{
	text-align: right;
	margin-top: 10px; 
}

ul.social>li{
	display: inline-block;
	padding: 6px;
	font-size: 28px;
	transition: all 0.9s ease;
}

ul.social>li:last-child{
	padding-right: 0px;
}
.social a{
	color: #fff;
}
#social-weibo{
	color: #ae5454 !important;
}
.avatar{
	position: absolute;
	height: 160px;
	width: 160px;
	border-radius: 80px;
	border: 3px solid silver;
	overflow: hidden;
	left: 200px;
	bottom: -80px;
}

.avatar img{
	height: 110%;
	width: 115%;
	position: absolute;
}

.wrap{
	margin: 120px 200px 80px 200px;
}
.preface{
	border-left: 6px solid #297385;
	padding: 12px 0 0 12px;
	margin: 20px 0px;
	font-family: "Microsoft kaiti";
}
.preface .zuosi{
	text-decoration: line-through;
	font-size: 14px;

}
.content{
}
.content h3{
	font-weight: normal;
}

.works{
	border-left: 6px solid #212121;
}

.works i{
	margin-right: 6px;
}

.works a{
	color: #212121;
}
.works-loading{
	text-align: center;
}
.works-loading img{
	animation: loading 1s ease-in-out infinite;
	animation-fill-mode:backwards;
}
.work-item .item-main:before{
	border: solid transparent;
	border-width: 15px;
	content: " "; 
	height: 0;
	left: -15px;
	top: 10px;
	margin-left: -15px;
	position: absolute;
}
.work-item .item-main{
	position: relative;
    margin-bottom: 2em;
    padding: .6em;
    box-shadow:1px 1px 1px silver;	
}

.work-item:nth-child(3n) .item-main{
    background: #eee;
}
.work-item:nth-child(3n)  .item-main:before{
    border-right-color: #eee;
}

.work-item:nth-child(3n+1)  .item-main{
    background:lightpink;
}
.work-item:nth-child(3n+1) .item-main:before{
    border-right-color: lightpink;
}

.work-item:nth-child(3n+2) .item-main{
    background:lightblue;
}
.work-item:nth-child(3n+2) .item-main:before{
    border-right-color:lightblue;
}

.timeline-title{
	float: left;
	width: 15%;	
	padding-top: 12px;
	padding-left: 10px;
	position: relative;
}
.timeline-title:before{
	content: " ";
	position: absolute;
	border-radius: 8px;
	width: 16px;
	height: 16px;
	background: #5a5751;
	left: -14px;
	border: 2px solid #fff;
}
.item-main{
	float: right;
	width: 83%;	
}

.detail{
	margin: 6px 0;
	background: #fff;
	padding: 6px;
	border-radius: 4px;
}
.sign{
}

.sign span{
	margin: 6px 12px 6px 0px;
}

footer{
	margin-top: 100px;
	background: #323232;
	border-top: 200px solid #323232;
}
footer p{
	color: #eee;
	background: #212121;
	padding:10px;
	text-align: center;
}
#back{
	position: fixed;
	right: 40px;
	bottom: 40px;
	height: 80px;
	opacity: 0.6;
	transition: opacity 0.4s ease;
	cursor: pointer;
	visibility: hidden;
}
#back:hover{
	opacity: 0.9
}
#back img{
	height: 100%;
}