*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: #323232;
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #fefefe;
	text-align: justify;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
	color: indianred;
}
img{
	max-width: 100%;
	border: none;
}
.center-page{
	min-width: 20rem;
	max-width: 60rem;
	margin: 0 auto;
}
.pc-only{
	display: none;
}
header{
	background: #3c3c3c url(../assets/baidu.png);
	color: #efefef;
}
.header-wrap{
	text-align: right;
	position: relative;
}
h1.main-title{
	font-size: 2rem;
	line-height: 2rem;
	padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}
ul.socials{
	padding-left: 0.5rem;
}
ul.socials li{
	display: inline-block;
}
ul.socials li a{
	display: block;
	height: 3rem;
	padding: 0.5rem 0.5rem 0.5rem 0;
}
ul.socials li img{
	max-height: 100%;
}
div.avatar{
	width: 6rem;
	position: absolute;
	bottom: -3rem;
	left: 1rem;
	clip-path: polygon(33.3% 0%,0% 33.3%,0 66.7%,33.3% 100%,66.7% 100%,100% 66.7%,100% 33.3%,66.7% 0);
	-ms-clip-path: polygon(33.3% 0%,0% 33.3%,0 66.7%,33.3% 100%,66.7% 100%,100% 66.7%,100% 33.3%,66.7% 0);
	-webkit-clip-path: polygon(33.3% 0%,0% 33.3%,0 66.7%,33.3% 100%,66.7% 100%,100% 66.7%,100% 33.3%,66.7% 0)	
}
.main{
	margin: 2rem auto;
	padding: 0.5rem;
	min-height: 20rem;
}
div.preface{
	margin: 1rem 0.5rem;
	padding: 0.5rem 0 0 0.5rem;
	line-height: 1rem;
	border-left: 4px solid #323232;
}
ol.task-list{
	margin: 0.5rem;
}
li.task-item{
	border-bottom: 1px solid #323232;
	margin: 1.5rem auto;
	padding-top: 0.5rem;
}
p.sign span{
	display: inline-block;
	padding-right: 0.5rem;
	margin-top: 0.25rem;
	font-weight: bold;
}

footer div.strip{
	height: 0.5rem;
	background: linear-gradient(90deg,#fb3 20%, 
	#655 0, #655 40%,
	#ab4 0, #ab4 65%, 
	hsl(20, 40%, 90%) 0);
	background-size: 120px 100%;
}
small.copy{
	display: block;
	text-align: center;
	padding: 2rem;
	font-size: 1rem;
	background: #323232;
	color: #fff;
}
#rocket{
	position: fixed;
	right: 4rem;
	bottom: 4rem;
	height: 4rem;
	width: 4rem;
	background: url(../assets/rocket.png);
	background-size: contain;
	cursor: pointer;
	visibility: hidden;
}
@media only screen and (min-width: 20rem){
}
@media only screen and (min-width: 48rem){
	h1.main-title{
		line-height: 2rem;
		padding: 3rem 0.5rem 1rem 0.5rem;
	}
	.pc-only{
		display: block;
	}
	header{
		margin-bottom: 4rem;
	}
}

@keyframes spin{
	from{
		transform: rotate(0)
	}
	to{
		transform: rotate(360deg)
	}
}
.loading{
	text-align: center;
	margin: 1.5rem;
	animation: spin 1s infinite;
}