.article-content,
.comment-content{
        color: #4d4e53;
}
.cymd-p{
    line-height: 1.428571429;
    font-size: 14px;
    font-weight: lighter;
    margin: 1em 0;
    text-align: justify;

}
.cymd-h1,
.cymd-h2,
.cymd-h3,
.cymd-h4,
.cymd-h5,
.cymd-h6{
    font-family: 'Open Sans Light',Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin: 1em 0;
    color: #4d4e53;
}
.cymd-h3::before{
    content: '';
    margin: 0;
}
.cymd-pre{
    border: 1px solid #ccc;
}
.cymd-pre,
.cymd-code{
    font-family: monospace,Consolas,'Liberation Mono',Courier;
    background-color: #efefef;
    padding: 2em 1em;
    margin: 1em 0;
    font-size: 12px;
    color: #708090;
    overflow-x: scroll;
}
.cymd-code{
    padding: 1px 2px;
    margin: 2px;
    overflow-x: auto;
}
.cymd-blockquote{
    border-left: 4px solid lightgray;
    background: #efefef;
    padding: 4px 16px;
}
.cymd-p-with-img{
    padding: 1em;
    text-align: center;
}
small.cymd-img-text{
    display:block;
    margin-top: 1em;
    color: darkslategrey;
    font-size: 12px;
}
.cymd-img{
    display:block;
    width: 100%;
    max-width: 100%;
    box-shadow: 1px 1px 4px #bbb;
}
.cymd-ol,
.cymd-ul{
    margin: 0;
}
.cymd-strong{
    font-weight: bold;
}
.cymd-em{
    font-weight: normal;
    color: indianred;
    font-style: italic;
}
