/*resets*/
*{
    margin: 0;
    padding: 0;
    font-family: Trebuchet, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p, li{
    padding: 4px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #323232;
}

a,a:visited{
    text-decoration: none;
    color: inherit;
}

html, 
body, 
div.sidebar{
    height: 100%;
    width: 100%;
}

/*
    for sidebar directive
*/
div.sidebar, 
div.sidebar-mask, 
div.sidebar-content{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
div.sidebar{
    transform: translateX(-100%);
    transition: transform 0.6s linear;
    z-index: 277;
}
div.sidebar-content{
    width: 60%;
    background-color: #323254;
}
div.sidebar.active{
    transform: translateX(0%)
}
/* end of sidebar directive*/

/*sidebar item styles*/

div.cynii-info{
    text-align: center;
    border: 1px solid red;
}
div.cynii-info>#avatar{

    height: 60px;
    width: 60px;
    margin: 1em auto;
    position: relative;

    border-radius: 50%;
    overflow: hidden;
    border: 1px solid red;
}
div.cynii-info #avatar img{
    height: 120%;
    width: 120%;
    position:absolute;
    left: -10%;
    top: -10%;
    border: 1px solid red;    
}
div.cynii-info .intro p{
    color: #ffffff;
}
ul.cynii-social{
    list-style: none;
}
ul.cynii-social>li{
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid red;
}
ul.cynii-social>li img{
    height: 1.4em;
}
li.sidebar-menu-item{
    border: 1px solid red;
    color: white;
    padding: 6px;
    padding-left: 1em;
    list-style: none;

}
li.sidebar-menu-item:first-of-type{
    background: #565678;
}
li.sidebar-menu-item img{
    height: 1em;
    vertical-align: -10%;
    margin-right: 6px;
}

/*main*/

main{
    transition: transform 0.36s linear;
    border: 1px solid red;
    width: 100%;
    transform: translateX(0%);
    padding: 4px;
}
main.pushright{/*来的时候main要延迟，走的时候同步*/
    transition-delay: 0.24s;
    transform: translateX(60%)
}


/*article*/
.article-item{
    border-bottom: 1px solid #878787;
}
h3.article-title{
    font-weight: lighter;
    margin: .2em 0;
}
p.article-tag img{
    height: 1em;
    vertical-align: -10%;
    margin-right: 6px;
}
.article-tag-item{
    margin-right: 2px;
}
.article-tag-item::after{
    content:",";
}
.article-tag-item:last-of-type::after{
    content: "";
}
.timestamp{
    font-size: 12px;
    color: #656565;
}
/*
*for lean-animates
*/
.pull-in{
    animation-name: pullin;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes pullin{
    0%{
        transform: translateX(-3%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
/*end of lean-animates*/






