*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#board{
	width: 325px;
	height: 500px;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
}
#board>div{
	border: 1px solid #aaa;
	float: left;
	height: 25px;
	width: 25px;
}
#start{
	height: 500px;
	width: 325px;
	background: rgba(255,255,255,0.4);
}