*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft yahei";
}

h2{
	margin: 1em auto;
}
body{
	text-align: center;
	padding: 2em;
}
.container{
	width: 900px;
	font-size: 0;
	margin: 0 auto;
	border: 1px solid red;
	text-align: left;
}