*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Microsoft yahei";
}
body{
	padding:20px 200px;
	min-width: 960px;
}
p{
	margin: 12px 0;
}
#my-calendar{
	width: 210px;
	box-sizing: content-box;
	outline: 2px solid #ddd;
	overflow: hidden;
}
#my-calendar span{
	float: left;
	width: 30px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
#ym-picker{
	background: #c61b01;
	height: 30px;
}
#ym-picker button{
	border:none;
	background: #c61b01;
	height: 100%;
	color: #fff;
	width: 26px;
	font-size: 20px;
	cursor: pointer;
	outline: none;
}
#week{
	font-weight: bold;
	background-color: #88f !important;
}
#date-picker span{
	border-radius: 4px;
	transition: background-color 0.2s 0.1s ease-in;
}
#date-picker span:not(.selected):hover{
	background: #ddd;
}
span.current{
	color: #222;
}
span.next-month, span.prev-month{
	color: #aaa;
}
span.today{
	background: #c61b01;
	color: #fff;
}
span.selected{
	background: #8b7ffd;
	color:#fff;
}