/*
CSS是按照实体划分还是按照功能划分呢？
按照实体划分简单一点，不要考虑复用，但缺点也在这里，代码冗余，每个实体都要写。
按功能划分代码复用程度高，但是划分功能，功能之间的组合很费时间，同时丢失语义。
一般来说应该整体用实体划分，但对于一些使用频率很高的功能归纳出功能类。
*/
@keyframes pulse {
	0%   {opacity: 1;}
	50%  {opacity: 0.3;}
	100% {opacity: 1;}
}
@keyframes fadeout {
	0%   {opacity: 1;}
	100% {opacity: 0;}
}
/*加载得太快了，Loading会一闪而过，*/
/*所以请慢一点淡出，先等个2秒，剩下的1秒再淡出*/
@keyframes fadeoutslow {
	0%   {opacity: 1;}
	66.7%  {opacity: 1;}
	100% {opacity: 0;}
}