*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Microsoft yahei";
}
img{
	width: 100%;
}
.container{
	position: relative;
}
.waterfall-wrap{
	display: inline-block;
	position: absolute;
}