<article lean-animate="pull-in">

    <h3 class="article-title">{{article.title}}</h3>
    <small ng-if="!!article.tags" class="article-tag">
        <img src="./images/tag.png">
        <span class="article-tag-item" ng-repeat="tag in article.tags">{{tag}}</span>
    </small>
    <small class="timestamp">{{article.time.toUTCString()}}</small>
    <div class="article-content">{{article.content}}</div>

    <div class="article-comment" ng-controller="CommentController">
        
        <form ng-submit="addComment()">
            <legend>评论区</legend>
            <textarea name="newc" ng-model="newComment.content" required></textarea>
            <input type="text" ng-model="newComment.name" placeholder="留名" required>
            <input type="text" ng-model="newComment.website" placeholder="你的主页" required>
            <input type="submit" value="发表评论">
        </form>

        <div class="article-comment-list"><ul>
            <li ng-repeat="comment in comments">
                <p>{{comment.content}}</p>
                <p><span>{{comment.time.toLocaleString()}}</span></p>
            </li>
        </ul></div>
    </div>
</article>