<div  lean-animate="pull-in" class="article-list">
    <ul>
        <li class="article-item" ng-repeat="article in articles">
            <h3 class="article-title">
                <a ng-href="#/articles/{{article.id}}">{{article.title}}</a>
            </h3>
            <small ng-if="!!article.tags" class="article-tag">
                <img src="./images/tag.png">
                <span class="article-tag-item" ng-repeat="tag in article.tags">
                    <a ng-href="#/tag/{{tag}}">{{tag}}</a>
                </span>
            </small>
            <small class="timestamp">{{article.time.toUTCString()}}</small>
        </li>
    </ul>
    <load completed="nomore" pending="loading" onloadmore="load()"></load>
</div>